<div class="jumbotron text-center">
  <h1>Mean Authentication</h1>
  <p class="lead">Mean Authentication App</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>    
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Irure nisi anim duis aute qui voluptate aliquip Lorem Lorem commodo. Non culpa aute quis ipsum aliqua fugiat dolore culpa fugiat consectetur quis. Dolor nostrud tempor elit amet commodo voluptate velit do mollit. Ut minim enim ipsum qui adipisicing incididunt in sint. Reprehenderit id culpa ullamco sint labore tempor sit amet eu ullamco. Occaecat aute anim dolor minim dolor veniam eu minim excepteur aliquip laborum.</p>
  </div>
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Irure nisi anim duis aute qui voluptate aliquip Lorem Lorem commodo. Non culpa aute quis ipsum aliqua fugiat dolore culpa fugiat consectetur quis. Dolor nostrud tempor elit amet commodo voluptate velit do mollit. Ut minim enim ipsum qui adipisicing incididunt in sint. Reprehenderit id culpa ullamco sint labore tempor sit amet eu ullamco. Occaecat aute anim dolor minim dolor veniam eu minim excepteur aliquip laborum.</p>
  </div>
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Irure nisi anim duis aute qui voluptate aliquip Lorem Lorem commodo. Non culpa aute quis ipsum aliqua fugiat dolore culpa fugiat consectetur quis. Dolor nostrud tempor elit amet commodo voluptate velit do mollit. Ut minim enim ipsum qui adipisicing incididunt in sint. Reprehenderit id culpa ullamco sint labore tempor sit amet eu ullamco. Occaecat aute anim dolor minim dolor veniam eu minim excepteur aliquip laborum.</p>
  </div>
</div>
